POSTGRES_URL="postgres://default:abcabcabc@host-pooler.server.aws.neon.tech:port/db?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:abcabcabc@host-pooler.server.aws.neon.tech:port/db?sslmode=require&pgbouncer=true&connect_timeout=timeout"
POSTGRES_URL_NO_SSL="postgres://default:abcabcabc@host-pooler.server.aws.neon.tech:port/db"
POSTGRES_URL_NON_POOLING="postgres://default:abcabcabc@host.server.aws.neon.tech:port/db?sslmode=require"
POSTGRES_USER="user"
POSTGRES_HOST="host-pooler.server.aws.neon.tech"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="db"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_clerkpublickey"
CLERK_SECRET_KEY="sk_test_clerksecretkey"

NEXT_PUBLIC_POSTHOG_KEY="posthogkey"
NEXT_PUBLIC_POSTHOG_HOST="https://location.posthog.com"

UPLOADTHING_SECRET="sk_live_dadwdawdwdawdawdawdawdawdawdwda"
UPLOADTHING_APP_ID="awdwdaawddwadaw"
